/* *******************************************************************
 * Author: 	Ryan Tran			s3201690
 *				Christine Huynh	s3438653
 *				Asli Yoruk			s3503519
 *
 * CSS used throughout the Booking web site
 ********************************************************************/

body {
	background-image: url("images/background.jpg"); /*images/wallpaper.jpg*/
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-attachment: fixed;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Prata';
}

a,p,th,td,li {
	font-family: 'Fenix';

}
/*Centre the wrapper div in the center of screen */
div#mainWrapper{
	color: black; /* This will cause all inherited text to change to the specified color */
	position: relative;
	margin:0px auto;
	padding:0px;
	border:0px;	
	width: 800px;
}
/*Generic Centre body in wrapper*/
div.centreContentBodyInDiv{
	position: relative;
	margin:0px auto;
	width: inherit;
	text-align: center;
}
/*Generic Centre table in the center of parent div*/
.centreTable{
	margin:auto;
}
table,th,td{
	text-align:left;
	padding: 5px;
	background-color:rgba(255,255,255,0.3);
}

/* Style for tabled results from mysql queries for businessPageNewBookings.php */
.tableStyle{
	border-top:1px solid black;
	text-align:left;
}
/* Styles for hyperlinks */
a{
	text-decoration:none;
	color:inherit;
	margin-left:15px;
}
a:hover{
	color:lightyellow;
}

/*index.php css*/
div.headingBannerDiv{
	color:inherit;
}

div.instructionsIndexDiv{
	text-align:center;
}


div#loginForm{
	position:absolute;
	left:0px;
	height:100%;
	width:calc(50% - 2.5px);
	text-align:center;
}
div#registerForm{
	position:absolute;
	left:calc(50% + 2.5px);
	height:100%;
	width:calc(50% - 2.5px);
	text-align:center;
}

div.formBorder{
	margin:20px;
	padding-bottom:20px;
	border-radius:5px;
	border:2px solid gray;
}
table {
   border-spacing: 0px;
}
.errorMessage{
	color:red;
	font-size:12px;
}
.successMessage{
	color:green;
	font-size:12px;
}
/*businessPage.php css*/
div.businessNavigationDiv{
	width:100%;
	background-color:inherit;
	font-family: 'Fenix';
	font-size:22px;
}
div.businessNavigationDiv span{
	font-family:inherit;
	color:inherit;
	font-size:inherit;
	line-height:40px;
	margin:0px 15px;
}
select#businessNavigationBooking{
	font-family:inherit;
	color:inherit;
	background-color:#79caf9; /* If banner background color changes, this needs to change manually, as it won't inherit */
	font-size:inherit;
	margin-left:15px;
}
select#businessNavigationEmployee{
	font-family:inherit;
	color:inherit;
	background-color:#79caf9; /* If banner background color changes, this needs to change manually, as it won't inherit */
	font-size:inherit;
	margin-left:15px;
}
option.noDisplay{
	display:none;
	font-family:inherit;
	color:inherit;
	background-color:inherit;
	font-size:inherit;
	margin-left:15px;
}
option.businessNavigationDropDown{
	font-family:inherit;
	color:inherit;
	background-color:inherit;
	font-size:inherit;
	margin-left:15px;
}

div.contentHereDiv{
	position:relative;
	width:798px;
	border:1px solid black;
	padding-bottom:20px;
}

/*customerPage.php css*/
div.customerNavigationDiv{
	width:100%;
	background-color:inherit;
	font-family: 'Fenix';
	font-size:22px;
}
div.customerNavigationDiv span{
	font-family: 'Fenix';
	color:inherit;
	font-size:inherit;
	line-height:40px;
	margin:0px 15px;
}
div.customerNavigationDiv a{
	text-decoration:none;
	font-family: 'Fenix';
	color:inherit;
	font-size:inherit;
	line-height:40px;
	margin:0px 15px;
}
div.customerNavigationDiv a:hover{
	color: lightyellow;
}

/* customerBooking.php css */
.CustomerBookingCalendarDiv{
	position:absolute;
	left:0px;
	width:calc(70% - 0.5px);
	border-right:1px solid black;
}
.CustomerBookingMakeABookingDiv{
	position:absolute;
	left:calc(70% - 0.5px);
	width:calc(30% - 0.5px);
	padding-left:10px;
	text-align:left;

}
.CustomerBookingMakeABookingDiv ol{
	font-size:16px;
	padding-left:15px;
}