body {
	background-image: url("images/background.jpg");
	background-attachment: fixed;
}

a,p,h1,h2,h3,h4,h5,h6,th,td{font-family:verdana;}
/*Centre the wrapper div in the center of screen */
div#mainWrapper{
	color: white;
	position: relative;
	margin:0px auto;
	padding:0px;
	border:0px;	
	width: 800px;
}
/*Generic Centre body in wrapper*/
div.centreContentBodyInDiv{
	position: relative;
	margin:0px auto;
	width: inherit;
	text-align: center;
}
/*Generic Centre table in the center of parent div*/
.centreTable{
	margin:auto;
}
table,th,td{
	text-align:left;
}
/* Style for tabled results from mysql queries for businessPageNewBookings.php */
.tableStyle{
	border-top:1px solid black;
	text-align:left;
}
/* Styles for hyperlinks */
a{
	text-decoration:none;
	color:inherit;
	margin-left:15px;
}
a:hover{
	color:LightCoral;
}

/*index.php css*/
div.headingBannerDiv{
	color:white;
}

div.instructionsIndexDiv{
	text-align:center;
}


div#loginForm{
	position:absolute;
	left:0px;
	height:100%;
	width:calc(50% - 2.5px);
	text-align:center;
}
div#registerForm{
	position:absolute;
	left:calc(50% + 2.5px);
	height:100%;
	width:calc(50% - 2.5px);
	text-align:center;
}

div.formBorder{
	margin:20px;
	padding-bottom:20px;
	border-radius:5px;
	border:2px solid white;
}
table {
   border-spacing: 0px;
}
.errorMessage{
	color:red;
	font-size:12px;
}
.successMessage{
	color:green;
	font-size:12px;
}
/*businessPage.php css*/
div.businessNavigationDiv{
	width:100%;
	background-color:#B8B8B8;
	font-family:"Trebuchet MS";
	font-size:20px;
}
div.businessNavigationDiv span{
	font-family:inherit;
	color:black;
	font-size:inherit;
	line-height:40px;
	margin:0px 15px;
}
select#businessNavigationBooking{
	font-family:inherit;
	color:black;
	background-color: #B8B8B8;
	font-size:inherit;
	margin-left:15px;
}
select#businessNavigationEmployee{
	font-family:inherit;
	color:black;
	background-color: #B8B8B8;
	font-size:inherit;
	margin-left:15px;
}
option.noDisplay{
	display:none;
	font-family:inherit;
	color:black;
	background-color: #B8B8B8;
	font-size:inherit;
	margin-left:15px;
}
option.businessNavigationDropDown{
	font-family:inherit;
	color:black;
	background-color: #B8B8B8;
	font-size:inherit;
	margin-left:15px;
}

div.contentHereDiv{
	position:relative;
	width:798px;
	border:1px solid black;
}

/*customerPage.php css*/
div.customerNavigationDiv{
	width:100%;
	
	font-size:20px;
}
div.customerNavigationDiv span{
	font-family:"Trebuchet MS";
	color:black;
	font-size:inherit;
	line-height:40px;
	margin:0px 15px;
}
div.customerNavigationDiv a{
	text-decoration:none;
	font-family:"Trebuchet MS";
	color:black;
	font-size:inherit;
	line-height:40px;
	margin:0px 15px;
}
div.customerNavigationDiv a:hover{
	color:LightCoral;
}