body {
	/*background-image: url("images/pug.jpg");*/

}

a,p,h1,h2,h3,h4,h5,h6,th,td{font-family:verdana;}
th{text-align:right;}
/*Centre the wrapper div in the center of screen */
div#mainWrapper{
	position: relative;
	margin:0px auto;
	padding:0px;
	border:0px;	
	width: 1000px;
}
/*Generic Centre body in wrapper*/
div.centreContentBodyInDiv{
	position: relative;
	margin:0px auto;
	width: 1000px;
	text-align: center;
}
/*Generic Centre table in the center of parent div*/
.centreTable{
	margin:auto;
}

/*index.php css*/
div.headingBannerDiv{
	
}

div.instructionsIndexDiv{
	text-align:left;
}
div#loginForm{
	position:absolute;
	left:0px;
	height:100%;
	width:calc(50% - 2.5px);
	text-align:center;
}
div#registerForm{
	position:absolute;
	left:calc(50% + 2.5px);
	height:100%;
	width:calc(50% - 2.5px);
	text-align:center;
}
div.formBorder{
	margin:20px;
	padding-bottom:20px;
	border-radius:5px;
	border:2px solid #B8B8B8;
}
.errorMessage{
	color:red;
	font-size:12px;
}
.successMessage{
	color:green;
	font-size:12px;
}
/*businessPage.php css*/
div.businessNavigationDiv{
	width:100%;
	background-color:#B8B8B8;
	
}
div.businessNavigationDiv span{
	font-family:"Trebuchet MS";
	color:black;
	font-size:24px;
	line-height:50px;
	margin:0px 50px;
}
select#businessNavigationBooking{
	font-family:"Trebuchet MS";
	color:black;
	background-color: #B8B8B8;
	font-size:24px;
	margin-left:19px;
}
select#businessNavigationEmployee{
	font-family:"Trebuchet MS";
	color:black;
	background-color: #B8B8B8;
	font-size:24px;
	margin-left:19px;
}
option.noDisplay{
	display:none;
	font-family:"Trebuchet MS";
	color:black;
	background-color: #B8B8B8;
	font-size:24px;
	margin-left:19px;
}
option.businessNavigationDropDown{
	font-family:"Trebuchet MS";
	color:black;
	background-color: #B8B8B8;
	font-size:24px;
	margin-left:19px;
}

div.contentHereDiv{
	position:relative;
	width:998px;
	height:300px;
	border:1px solid black;
}

/*customerPage.php css*/
div.customerNavigationDiv{
	width:100%;
	background-color:#B8B8B8;
	
}
div.customerNavigationDiv span{
	font-family:"Trebuchet MS";
	color:black;
	font-size:24px;
	line-height:50px;
	margin:0px 50px;
}
div.customerNavigationDiv a{
	text-decoration:none;
	font-family:"Trebuchet MS";
	color:black;
	font-size:24px;
	line-height:50px;
	margin:0px 50px;
}
